seeds/*
seeds/**/*
.cache/**/*

*.db*

temp/*
new_docs/*
.env*
_models
logs
data/outputs/*
.cache
__pycache__
**/*/*.ipynb_checkpoints*

data/inputs/apurasus
data/inputs/compras
data/inputs/materiais
data/inputs/uasgs
data/inputs/siops
data/inputs/sisab
data/inputs/compras.parquet
data/inputs/pdms.csv